.chat {
  width: calc(100% - 300px);
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    background-color: #BBffff; 
    .left-header {
      float: left;
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
        display: inline-block;
      }
    }
    .center-header {
      float: right;
      margin-right: 20px;
      height: 40px;
      font-size: 20px;
      &__button {
        color: #333;
        font-size: 20px;
        margin: 35px 20px;
      }
    }
    .right-header {
      border: 1px solid  $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin: 30px 20px;
      padding: 0 20px;
      .edit_button{
        color: $light_blue;
        text-decoration: none;
      }
    }
  }
}